.pill {
  color: var(--primary);
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.pill:hover {
  text-decoration: underline;
  cursor: pointer;
  transition: text-decoration 0.33s ease;
}
