.container {
  overflow: hidden;
  max-width: 1142px;
  padding: var(--spacing-3) var(--spacing-7);
  margin: 0 auto;
}

.content {
  display: flex;
  align-items: center;
  color: rgb(var(--gray-100));
}

.img_wrapper {
  flex: 2 1 0%;
  display: flex;
  justify-content: flex-end;
  padding-top: var(--spacing-5);
  padding-left: var(--spacing-3);
}

@media (max-width: 560px) {
  .container {
    padding-left: var(--spacing-3);
    padding-right: var(--spacing-3);
  }
}

@media (max-width: 768px) {
  .img_wrapper {
    display: none;
  }
}
