.wrapper {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  flex-direction: column;
  width: 80%;
  margin: var(--spacing-8) 0px;
}

.steps {
  justify-content: space-between;
  width: 80%;
  margin-top: var(--spacing-8);
  display: flex;
}
