.container {
  min-width: 480px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.form_cta {
  display: flex;
  width: 100%;
}

.email_wrapper {
  border: 1px solid var(--line);
  border-radius: 4px;
  background: #fff;
  display: flex;
  flex: 1 1 auto;
}

.email_wrapper input {
  width: 100%;
  padding: 20px;
  border-radius: 3px;
  background: none;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.15;
  color: rgb(var(--gray-100));
  border: 1px solid transparent;
}

.btn_wrapper {
  margin-left: var(--spacing-2);
}

.btn {
  width: 100%;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  padding: 24px;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.15;
  background-color: var(--primary);
  border: 1px solid var(--primary);
  transition: all 80ms ease-in-out;
}

.btn:hover {
  background-color: rgb(var(--blue70));
  border-color: rgb(var(--blue70));
}

.btn_content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  white-space: nowrap;
  font-weight: 600;
}

.btn_content_padding {
  margin-left: var(--spacing-3);
  margin-right: var(--spacing-3);
}

@media (max-width: 768px) {
  .container {
    min-width: auto;
    width: 100%;
  }
}

@media (max-width: 560px) {
  .form_cta {
    flex-direction: column;
  }

  .btn {
    padding: 16px;
  }

  .email_wrapper input {
    padding: 12px;
    font-size: 16px;
  }

  .btn_wrapper {
    margin-top: var(--spacing-2);
    margin-left: var(--spacing-0);
  }
}
