.title {
  margin-top: 0px;
  margin-bottom: var(--spacing-3);
  line-height: 1.15;
  font-size: 40px;
  color: var(--foreground);
  font-weight: 600;
}

.subtitle {
  font-size: 18px;
  color: var(--foreground-muted);
}

@media (max-width: 560px) {
  .title {
    font-size: 32px;
  }
}
