:root {
  --headline-font-size: 16px;
  --headline-font-weight: 600;
  --headline-line-height: 24px;
  --spacing-0: 0;
  --spacing-1: 8px;
  --spacing-2: 16px;
  --spacing-3: 24px;
  --spacing-4: 32px;
  --spacing-5: 40px;
  --spacing-6: 48px;
  --spacing-7: 56px;
  --spacing-8: 64px;
  --blue60: 0, 82, 255;
  --blue70: 0, 75, 235;
  --gray0: 255, 255, 255;
  --gray5: 238, 240, 243;
  --gray60: 91, 97, 110;
  --gray100: 10, 11, 13;
  --green50: 18, 153, 97;
  --green60: 9, 133, 81;
  --red60: 207, 32, 47;
  --background: rgb(var(--gray0));
  --background-alternate: rgb(var(--gray5));
  --foreground-muted: rgb(var(--gray60));
  --line: rgba(var(--gray60), 0.2);
  --line-heavy: rgba(var(--gray60), 0.68);
  --negative: rgb(var(--red60));
  --positive: rgb(var(--green60));
  --primary: rgb(var(--blue60));
  --primary-foreground: rgb(var(--gray0));
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', -apple-system,
    BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ol,
ul {
  list-style: none;
  color: inherit;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
