.title {
  margin: 0;
  margin-bottom: 0px;
  margin-bottom: 0px;
  margin-bottom: var(--spacing-1);
  font-size: 40px;
  font-weight: 600;
  color: var(--foreground);
  text-align: center;
}

.subtitle {
  color: var(--foreground-muted);
  text-align: center;
}

@media (max-width: 560px) {
  .title {
    font-size: 32px;
  }
}
